* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca Light";
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

p,
a,
li {
  font-size: 1.7rem;
  color: #20262e;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.fa-bars {
  font-size: 3.2rem;
}

header {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s linear;
}

.nav-first {
  width: 50%;
  max-width: 52rem;
  min-width: 32rem;
  background-color: #655dbb;
}

.nav-second {
  background-color: #3e54ac;
  width: 95%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: #ecf2ff;
}

.nav-list ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.nav-list a {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.nav-list a:hover {
  text-decoration: underline;
  color: #3e54ac;
}

.active {
    transform: translateX(0);
}

.fa-square-xmark {
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: 3.2rem;
}
